
main{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.menufijo{
    position: fixed;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    z-index: 2;

}
aside{
    background-color: rgb(176, 19, 51);
    grid-column: 1/2;
    padding: 15% 2% 0% 2%;
    max-height: 90vh;
}
header{
    grid-column: 1/5;
    -webkit-box-shadow: -1px 20px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 20px 15px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 20px 15px 0px rgba(0,0,0,0.75);
}
nav{
    background-color: crimson;
}
.datos{
   max-height: 90vh;
   overflow-x: scroll;
   grid-column: 2/5;
   margin: 1%;
}
