*{
    padding: 0;
    margin: 0;
}
body{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
aside{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    grid-column: 2/3;
}
form{
    width: 100%;
}
.relleno{
    height: 20%;
    width: 90%;
    background-color: grey;
}